@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bangers&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(14, 18, 55, 1);
  color: rgba(253, 253, 253, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 54px;
  background: rgba(14, 18, 55, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(14, 18, 55, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 32px;

  gap: 28px;
  background: rgba(14, 18, 55, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Anton;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0%;

  text-decoration: none;
  color: rgba(253, 253, 253, 1);
  transition: all 0.3s ease-in-out;
}
.navigation__link:hover,
.navigation__link:focus {
  color: rgba(246, 233, 7, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 60px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Anton;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0%;

    padding: 0px 34px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 766px;
  padding: 660px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Frame\ 42.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__google-button_image {
  width: 243px;
  height: 70px;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 820px;
    padding: 560px 0px 0px;
    background-image: url("/image/home/1.png");
  }
}
.about {
  padding: 0px 20px 0px;
  margin: auto;
  margin-top: 40px;
  width: 375px;
  height: 1069px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/Game\ description.png");
}

.about-title {
  font-family: Bangers;
  font-weight: 400;
  font-size: 36px;
  line-height: 38.3px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(246, 233, 7, 1);
}

.about-text {
  font-family: Anton;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0%;

  color: rgba(14, 18, 55, 1);

  padding: 32px 18px;
  background: rgba(253, 253, 253, 1);
  margin-top: 426px;
}
.about-text-bold {
  color: rgba(174, 8, 38, 1);
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 130px 80px 0;
    width: 1440px;
    height: 765px;
    background-image: url("/image/about/Frame\ 43\ \(1\).png");
  }

  .about-title {
    font-family: Bangers;
    font-weight: 400;
    font-size: 36px;
    line-height: 38.3px;
    letter-spacing: 0%;
    text-align: center;
  }

  .about-text {
    font-family: Anton;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0%;

    width: 630px;
    height: 376px;

    padding: 32px 44px;
    margin-top: 30px;
  }
}
.how {
  width: 375px;
  height: 1084px;
  margin: auto;
  margin-top: 80px;
  padding: 0px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/how/How\ to\ play.png");
}

.how-list {
  padding-top: 536px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  counter-reset: list-counter;
}
.how-item {
  display: flex;
  gap: 2px;
  align-items: start;
}

.how-text-bold {
  font-family: Anton;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  color: rgba(174, 8, 38, 1);
}
.how-text {
  font-family: Anton;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 753px;
    margin: auto;

    padding: 0px 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/how/How\ to\ play\ \(1\).png");
  }

  .how-list {
    margin-top: 90px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6px;
    height: 415px;
    column-gap: 207px;
  }
  .how-item {
    display: flex;
    gap: 2px;
    align-items: start;
    width: 500px;
  }

  .how-text-bold {
    font-family: Anton;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;

    color: rgba(14, 18, 55, 1);
  }
  .how-text {
    font-family: Anton;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0%;
    color: rgba(14, 18, 55, 1);
  }
  .how-item-two {
    padding-top: 146px;
  }
  .how-item-three {
    color: rgba(253, 253, 253, 1);
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 80px 0px 46px;
}

.reviews-list {
  width: auto;
  padding-top: 28px;
}
.reviews-item {
  margin: 0 5px;
  width: 335px;
  height: 294px;
  border-radius: 4px;
  padding-top: 28px;
  padding-right: 22px;
  padding-bottom: 28px;
  padding-left: 22px;
  background: rgba(253, 253, 253, 1);
}
.reviews-item-top {
  display: flex;
  gap: 12px;
  align-items: center;
}
.reviews-text-bold {
  font-family: Anton;
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
  letter-spacing: 0%;

  color: rgba(174, 8, 38, 1);
}
.reviews-text {
  font-family: Anton;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0%;
  color: rgba(14, 18, 55, 1);
  padding-top: 18px;
}
.reviews-lists {
  display: none;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 130px 80px;
  }

  .reviews-list {
    display: none;
  }
  .reviews-lists {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 36px;
  }
  .reviews-item {
    margin: 0px;
    width: 413px;
    height: 242px;
    padding-top: 28px;
    padding-right: 22px;
    padding-bottom: 28px;
    padding-left: 22px;
  }
  .reviews-image {
    margin-left: 48px;
  }
}

.faq {
  padding: 80px 20px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}

.faq-item {
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Anton;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: 0%;
  border-radius: 4px;
  color: rgba(246, 233, 7, 1);
  padding: 10px 0 10px 10px;
  border: 1px solid rgba(246, 233, 7, 1);
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}
.toggle-button img {
  transform: rotate(180deg);
}

.faq-answer {
  display: none;
  font-family: Anton;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0%;
  border: 1px solid rgba(253, 253, 253, 1);
  border-radius: 4px;
  padding: 10px;
  margin-top: 4px;
}
.faq-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .faq-img {
    display: flex;
  }
  .faq-img-two {
    margin-top: 280px;
  }
  .faq {
    padding: 130px 117px;
    margin: auto;
    width: 1440px;
  }
  .faq-div {
    display: flex;
    align-items: start;
    padding-top: 36px;
  }
  .faq-container {
    padding-top: 0px;
    gap: 20px;
    margin: 0;
  }

  .faq-item {
    width: 630px;
  }
}
.gallery {
  width: 375px;
  margin: auto;
}

.gallery__list {
  width: auto;
  padding-top: 28px;
  margin: auto;
}
.gallery__item {
  width: 335px;
  height: 251.25px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin: 0 4px;
}
.gallery-item {
  width: 232px;
  height: 309px;
  border-radius: 4px;
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-button-container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
  }

  .gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .gallery-button:hover {
    scale: 120%;
  }
  .gallery {
    width: 1440px;
  }

  .gallery__item {
    width: 413px;
    height: 309.75px;
    border-radius: 4px;
    margin: 0 10px;
  }
  .gallery-item {
    width: 232px;
    height: 309.75px;
  }
  .gallery__list {
    width: auto;
    padding: 36px 0 26px;
  }
}
.features {
  width: 375px;
  height: 1582px;
  margin: auto;
  margin-top: 80px;
  padding: 0px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/features/Keys.png");
}

.features-list {
  padding-top: 744px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.features-item {
  border-radius: 4px;
  padding: 20px 9px;
  background: rgba(253, 253, 253, 1);
}

.features-text-bold {
  font-family: Anton;
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(174, 8, 38, 1);
}
.features-text {
  font-family: Anton;
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(14, 18, 55, 1);
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 795px;
    margin: auto;
    padding: 0px 138px;

    background-image: url("/image/features/Frame\ 43\ \(2\).png");
  }

  .features-list {
    padding-top: 100px;
    gap: 16px;
  }
  .features-item {
    width: 542px;
    padding: 20px 22px;
  }

  .features-text-bold {
    font-family: Anton;
    font-weight: 400;
    font-size: 22px;
    line-height: 35.2px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(174, 8, 38, 1);
  }
  .features-text {
    font-family: Anton;
    font-weight: 400;
    font-size: 22px;
    line-height: 35.2px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(14, 18, 55, 1);
  }
}
.footer {
  background: rgba(174, 8, 38, 1);

  color: #ffffff;
  padding: 23px 20px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 28px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;

  gap: 12px;
}
.footer-text {
  font-family: Anton;
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
  letter-spacing: 0%;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Anton;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 46px 0px;
  }
  .footer-container {
    gap: 50px;
    align-items: center;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    gap: 200px;
  }
  .footer-text {
    font-family: Anton;
    font-weight: 400;
    font-size: 32px;
    line-height: 51.2px;
    letter-spacing: 0%;
  }

  .footer-copyright {
    font-family: Anton;
    font-weight: 400;
    font-size: 12px;
    line-height: 19.2px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 124px 20px 44px;
}
.policy-terms-title {
  font-family: Bangers;
  font-weight: 400;
  font-size: 36px;
  line-height: 38.3px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(246, 233, 7, 1);
  text-transform: uppercase;
}

.policy-terms-text {
  font-family: Anton;
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Anton;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Anton;
  font-family: Anton;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0%;
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Anton;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Anton;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 100px 180px 130px;
  }
  .policy-terms-title {
    font-family: Bangers;
    font-weight: 400;
    font-size: 36px;
    line-height: 38.3px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 38px 16px;
  background: rgba(14, 18, 55, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Anton;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0%;
  text-align: center;
}
.cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.cookie-button {
  width: 295px;
  height: 83px;
  gap: 10px;
  border-radius: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid rgba(246, 233, 7, 1);
  background-color: transparent;
  font-family: Anton;
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
  letter-spacing: 0%;
  color: rgba(246, 233, 7, 1);
}
#accept-cookies {
  background: rgba(246, 233, 7, 1);
  color: rgba(14, 18, 55, 1);
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Anton;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    letter-spacing: 0%;
    text-align: center;

    width: 595px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;

    gap: 26px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 15px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
